$h_fontsize: 18;
$h_height: 70px;

#header
  {
    height: $h_height;
    z-index: 103;
    background: $main;

    // box-shadow: rgba(0,0,0,0.14) 0px 2px 2px 0px, rgba(0,0,0,0.2) 0px 3px 1px -2px, rgba(0,0,0,0.12) 0px 1px 5px 0px !important;
    // background: -webkit-linear-gradient(left, $main, lighten($main, 7%));
    // position: absolute;
    // overflow: hidden;
    @extend .shadow;

    .l
      {
        float: left;
        height: $h_height;
        line-height: $h_height;
        font-size: $h_fontsize;
        font-family: $font;

        padding-left:  25px;
        padding-right: 25px;

        color: white;
        a  { color: white; text-decoration: none; }
        .t { color: white; text-decoration: none; &:hover { border-bottom: solid white 1px; } }
      }
    .r
      {
        float: right !important;
      }
    .on
      {
        // background: $activated !important;
        background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3) !important;
        background-size: 1800% 1800% !important;
        animation: rainbow 18s ease infinite !important;
      }
    .has-b
      {
        padding-left: 0;
      }
    .b
      {
        background: rgba(0, 0, 0, 0.2);
        padding: 10px 22px 10px 22px;
        border-radius: 22px;
        box-shadow: rgba(0,0,0,0.14) 0px 2px 2px 0px, rgba(0,0,0,0.2) 0px 3px 1px -2px, rgba(0,0,0,0.12) 0px 1px 5px 0px;

        &:hover {
          background: darken($main, 15%);
        }
      }

  }
